@import "src/assets/scss/custom";

:host{
    min-height: toREM(275);
    color: $white;
    background: linear-gradient(180deg, $secondary 0%, rgba(0,0,0,0) 66% ,rgba(0,0,0,0) 100%);
}

.hero{
    &__background{
        &__image{
            position: absolute;
            z-index: -1;
            top: 0;
            width: 100%;
            height: toREM(275);
            background: url('./../../../../assets/images/global/freighter.jpg') no-repeat center center;
            background-size: 100%;
            -webkit-clip-path: url(#hero-clip);
            clip-path: url(#hero-clip);
        }
    }

    &__logo{
        position: absolute;
        z-index: 1;
        width: toREM(479);
        height: toREM(165);
        top: toREM(20);
        left: toREM(60);
        cursor: pointer;
    }

    &__links{
        display: flex;
        justify-content: right;
        align-items: center;
        font-weight: bolder;

        &__link{
            margin-right: toREM(30);
            text-shadow: 2px 2px rgba($black, 0.6);
            cursor: pointer;
        }

        &__circle{
            background: $secondary;
            width: toREM(50);
            height: toREM(50);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: toREM(22);
                height: toREM(22);
                margin-bottom: toREM(5);
            }
        }
    }
}
