<section>
    <div class="container">
        <div class="row">
            <div class="col-4 text-end mx-auto">
                <form [formGroup] ="usuarioForm">
                    
                     <input type="text" class="form-control border-3 my-3" id="nombre" name="nombre"
                    placeholder="Nombre" formControlName="nombre" />

                    <input type="text" class="form-control border-3 my-3" id="primerApellido" name="primerApellido"
                    placeholder="Primer Apellido" formControlName="primerApellido" />

                    <input type="text" class="form-control border-3 my-3" id="segundoApellido" name="primerApellido"
                    placeholder="Segundo Apellido" formControlName="segundoApellido" />

                     <input type="text" class="form-control border-3 my-3" id="cedula" name="cedula"
                    placeholder="Cedula" formControlName="cedula" />

                    <label for="tipoCedula">Tipo de Identificacion</label>
                    <select class="form-control border-3 my-3" name="tipoCedula" id="tipoCedula">
                        <option value=1>Cedula</option>
                        <option value=2>Pasaporte</option>
                    </select>

                    <label for="tipoCedula">Genero</label>
                    <select class="form-control border-3 my-3" name="tipoCedula" id="tipoCedula">
                        <option value=1>Masculino</option>
                        <option value=2>Femenino</option>
                    </select>

                    <textarea class="form-control border-3 my-3" name="direccion" id="direccion" cols="30" rows="10" placeholder="Dirección"></textarea>

                    <label for="tipoCedula">Tipo de Cuenta</label>
                    <select class="form-control border-3 my-3" name="tipoCuenta" id="tipoCuenta">
                        <option value=1>Personal</option>
                        <option value=2>Empresarial</option>
                    </select>

                    <input type="text" class="form-control border-3 my-3" id="email" name="email"
                    placeholder="Email" formControlName="email" />

                    <input type="password" class="form-control border-3 my-3" id="password" name="password"
                    placeholder="Contraseña" formControlName="password" />
                    <input type="password" class="form-control border-3 my-3" id="confirm_password" name="confirm_password"
                    placeholder="Confirmar Contraseña" formControlName="confirmPassword" />

                    <div class="form-check text-end mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="recibe Ofertas">
                        <label class="form-check-label" for="flexCheckDefault">
                            Recibe Ofertas
                        </label>
                    </div>
                    <div class="form-check text-end mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="aceptaTerminos">
                        <label class="form-check-label" for="flexCheckDefault">
                            Acepta Términos y Condiciones
                        </label>
                    </div>

                    <button class="btn btn-primary" type="submit" (click)="signup()">Registrarse</button>
                </form> 
            </div>
        </div>
    </div>
</section>