
<div class="footer">
    <div class="footer__background">
        <svg height="0" width="0">
            <defs>
                <clipPath id="footer-clip" clipPathUnits="objectBoundingBox">
                    <polygon fill="none" points="0,0 .3,.25 1,.05 1,1 0,1 "/>
                </clipPath>
            </defs>
        </svg>
        <div class="footer__background__image"></div>
    </div>
    <div class="contaienr footer__content">
        <div class="row">
            <div class="col-12 col-md-6 footer__content--left">
                <div class="text-start">
                    <div class="footer__content__logo mb-2">
                        <img class="w-100" src="assets/images/global/logo_gris.png" alt="">
                    </div>
                    <div>
                        Nuestras oficinas se encuentran en xxxx xxxx, Tres Ríos, Cartago
                    </div>
                    <div>
                        Cédula Jurídica xxx xxxx xxxx
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 footer__content--right">
                <div class="text-start">
                    <div>
                        Contáctenos 
                    </div>
                    <div>
                        +506 2278-3539 / +506 2278-3537 / +506 2236-8336                     
                    </div>
                    <div>
                        servicioalcliente@alcalogistica.co.cr
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    