
<div class="footer">
    <div class="footer__background">
        <svg height="0" width="0">
            <defs>
                <clipPath id="footer-clip" clipPathUnits="objectBoundingBox">
                    <polygon fill="none" points="0,0 .3,.25 1,.05 1,1 0,1 "/>
                </clipPath>
            </defs>
        </svg>
        <div class="footer__background__image"></div>
    </div>
    <div class="contaienr">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
</div>
    