<div class="container my-5">
    <h1 class="mb-4">Nuestros Servicios</h1>
    <div class="row g-1">
        <div class="col">
            <div app-card-info [data] = "cards[0]"></div>
        </div>
        <div class="col">
            <div app-card-info [data] = "cards[1]"></div>
        </div>
        <div class="col">
            <div app-card-info [data] = "cards[2]"></div>
        </div>
        <div class="col">
            <div app-card-info [data] = "cards[3]"></div>
        </div>
        <div class="col">
            <div app-card-info [data] = "cards[4]"></div>
        </div>
    </div>
    <div class="row mt-5 our-services">
        <div class="col-12 col-md-7">
            <img class="w-100" src="assets/images/homepage/buy.jpg" alt="">
        </div>
        <div class="col-12 col-md-5">
            <img class="w-100" src="assets/images/homepage/transporte.jpg" alt="">
        </div>
    </div>
</div>