@import "./assets/scss/settings";

html {
  font-size: toVW(16, 375);

  @include media-breakpoint-up(md) {
    font-size: toVW(16);
  }

  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
}