@import "./assets/scss/settings";

html {
  font-size: toVW(16, 375);

  @include media-breakpoint-up(md) {
    font-size: toVW(16);
  }

  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
}

body {
  color: $dark;
}


a {
  color: inherit;
}

// Buttons
.btn {
  border-radius: 0 toREM(50);
}

// Section
section{
  padding: toREM(50) 0;
}