
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

@import "./assets/scss/settings";

html {
  font-size: toVW(16, 375);

  @include media-breakpoint-up(md) {
    font-size: toVW(16);
  }

  @include media-breakpoint-up(xxl) {
    font-size: 16px;
  }
}

body {
  color: $dark;
}

a {
  color: inherit;
}

// Buttons
.btn {
  border-radius: 0 toREM(50);
}

// Section
section{
  padding: toREM(50) 0;
}

// Tables
table {
    width: 100%;
}

.mat-row{
  cursor: pointer;

  &:hover{
    background-color: rgba($primary, $alpha: 0.1);
  }
}

//Angular Material
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}

.mat-form-field{
  margin: 0 10px;
}

.swal2-title {
  font-size: 20px !important;
}