<div class="container my-5 about">
    <div class="about__world">
        <img class="w-100" src="assets/images/about/world.jpg" alt="">
    </div>
    <div class="about__text">
        Somos una empresa que nació el 01 de Julio de 2008, 
        con el fin de brindarles a nuestros clientes el servicio 
        completo de Transporte Nacional e Internacional de 
        mercancías, ajustado a sus necesidades en cuanto 
        a servicio, tiempo y asesoría.
    </div>
    <div class="about__office">
        <img class="w-100" src="assets/images/about/office.jpg" alt="">
    </div>
    ¡Nuestras Oficinas!
</div>